@charset "utf-8";
/* CSS Document */
.sidediv {
	width: 17%;
	float: left
}
html, body {
	height:100%;
	min-height:100%;
	
}
body {
	background: #ffffff;
	margin: 0px auto;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #989895;
}

h3 { 
padding-top:15px; 
}


#topbar {
	background: #dc143c;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 25px;
}

.wrapper {
	width: 1010px;
	height: 100%;
	display: block;
	margin: 0px auto;
	padding: 0px;
	background:#ffffff;
}

#header {
	background:#ffffff;
	margin:5px;
}

#logo {
	float: left;
	display: block;
	margin: 20px 15px;
	padding: 0px;
	float: left;
	display: inline;
}

#topmenu {
	float: right;
	display: block;
	margin: 0px;
	padding: 0px;
}

#topmenu img {
	margin: 0px 5px;
	padding: 0px;
}

#topmenu a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #989895;
}

.navmenu {
	width: 100%;
	height: 25px;
	margin: 0px;
	padding: 0px;
	display: block;
	background:#003366;
}

.navmenu ul {
	width: 100%;
	height: 25px;
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
}

.navmenu ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	background:#003366;
	display: inline;
}

.navmenu ul li a {
	margin: 0px;
	padding: 5px 17px;
	color: #fff;
	font-size: 11px;
	line-height: 25px;
	border-right: 1px solid #295da1;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.navmenu ul li a.selected {
	margin: 0px;
	padding: 5px 20px;
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	border-right: 1px solid #295da1;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	background-color:#5C91D5;
}

.navmenu ul li a:hover {
	color: #FD7906;
}

.form {
	float: right;
	display: block;
	margin: 5px 0px;
	padding: 4px;
}

.form input.input {
	width: 430px;
	height: 25px;
	margin: 0px;
	padding: 0px 5px;
	color: #989895;
	font-size: 11px;
	border: 1px solid #cbcbca;
	text-transform: uppercase;
	line-height: 25px;
}

.form input.inputbutton {
	width: auto;
	height: 25px;
	margin: 0px;
	padding: 0px 10px;
	font-size: 11px;
	background: #fd7906;
	color: #fff;
	text-transform: uppercase;
	line-height: 25px;
	border: none;
}

#midwrapper {
	
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwyNTUsMjU1LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjA2LDIwNiwyNDYsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);	
	width: 100%;
    height: 100%;
    max-height:auto;
    display: block;
    margin: 0px auto;
    padding: 0px;
}
#topbody {
	background: url(../images/topbody.png) no-repeat;
	width: 1010px;
	height: 15px;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
}

#midbody {
	background: #fff;
	margin: 0px;
	padding: 0px 10px;
	width: 990px;
	height: auto;
	float: left;
	display: block;
}

#botbody {
	background: url(../images/botbody.png) no-repeat;
	width: 1010px;
	height: 15px;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
}

.left-col {
	width: 200px;
	margin:  10px;
	padding: 0px;
	min-height: auto;
	vertical-align:top;
	background-color:#e8e8e8;
}

.right-col {
	width: 760px;
	margin:  10px;
	margin-left:0px;
	padding: 0px;
	float: right;
	display: inline;
	height: auto;
	vertical-align:top;
}


.stephead {
	background: url(../images/vertical_line.png) repeat-x;
	padding: 13px;
	font-size: 13px;
	font-weight: bold;
	border: 1px #cbcbca;
	color: #fff;
	height: 22px;
}

.cathead {
	background: url(../images/cathead.gif) repeat-x;
	padding: 13px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #cbcbca;
	color: #fff;
	height: 18px;
}

.cathead span.subhead {
	font-size: 9px;
	font-style: italic;
	text-transform: lowercase;
	float: right;
}

.catbody {
	background: #e4e3e3;
	border: 1px solid #cbcbcb;
	margin: 0px 0px;
	padding: 0px 0px;
}

.productbox {
	background: #fff;
	padding: 10px;
	margin: 0px;
	width: 330px;
}

.banner-left {
	margin: 10px 0px;
	padding: 0px;
}

#footbody {
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
	width: 100%;
	background: #333333;
	border-top: 3px solid #ff9900;
}

#foottop {
	background: url(../images/foottop.png) no-repeat;
	width: 1010px;
	height: 17px;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
}

#footmid {
	background: #454545;
	margin: 0px;
	padding: 0px 10px;
	width: 990px;
	height: auto;
	float: left;
	display: block;
}

#footbot {
	background: url(../images/footbot.png) no-repeat;
	width: 1010px;
	height: 17px;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
}

.flinks {
	font-size: 11px;
	font-weight: normal;
	color: #fff;
}

.flinks a {
	color: #fff;
	text-decoration: none;
}

.flinks a:hover {
	text-decoration: underline;
}

.flinks-noborder a {
	color: #fff;
	text-decoration: none;
}

.footer {
	background: #121212;
	color: #fff;
	text-align: center;
	height:100px;
	border-top:5px solid #003366;
}
/*GENERAL STYLES */
a img {
	border: none;
}

a {
	text-decoration: none;
	color: #4B0082;
}

a:hover {
	text-decoration: underline;
}

.whitehead {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}

.orangehead {
	font-size: 12px;
	color: #fd7906;
	font-weight: bold;
}

.blackhead {
	font-size: 20px;
	color: #250517;
	font-weight: bold;
}

.leftmenutext {
	color: #151B8D;
}

.bluehead {
	font-size: 11px;
	color: #2B60DE;
	font-weight: bold;
}

.button {
	background: url(../images/button.png) no-repeat;
	width: 133px;
	height: 29px;
	margin: 0px auto;
	padding: 0px;
	color: #fff;
	line-height: 29px;
}

.button a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.button a:hover {
	color: #000;
}

.input {
	width: 200px;
	border: 1px solid #cbcbca;
	padding: 2px;
	height: 15px;
}

.red {
	color: #dc143c;
}

.textarea {
	width: 200px;
	border: 1px solid #cbcbca;
	height: 100px;
}

p {
	margin: 8px 0px;
	padding: 0px;
}

.margin {
	margin: 10px;
}

.imgmargin {
	margin: 0px 10px 10px 0px;
	padding: 0px;
}

table tr th {
	background: #858585;
	color: #fff;
}

.tablerow {
	background: #e4e3e3;
	color: #454545;
	font-weight: bold;
	text-align: center;
}

/*ACCORDION MENU */
ul.arrowlistmenu {
	width: 100%;
	list-style-type: none;
	margin: 10px 0px 0px 5px;
	padding: 0px;
	font-weight: bold;
}

ul.arrowlistmenu ol {
	display: none;
	text-align: left;
	margin: 0;
	padding: 5px;
}

ul.arrowlistmenu li,ul.arrowlistmenu a {
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: #2B60DE;
}

ul.arrowlistmenu a.selected {
	color: #2B6033;
}

ul.arrowlistmenu li {
	margin:0px;
    padding: 5px 10px;
    list-style:none;
    border-bottom:1px dotted #141414;
    width: 190px;
    color: #234FC9;
}

ul.arrowlistmenu li h3 {
	margin: 0px;
	padding: 0px;
}

ul.arrowlistmenu li ul {
	margin: 10px 0px 0px 20px;
	padding: 0px;
	text-align: left;
}

ul.arrowlistmenu li ul li {
	line-height: 25px;
	padding: 0px 0px;
	border-top: none;
	list-style: url(../images/bullet.png);
	margin: 0px;
	width: 180px;
}

ul.arrowlistmenu li ul li a {
    font-family: verdana, sans-serif;
    font-size: 11px;
    color: olive;
}

ul.arrowlistmenu a:hover {
	color: #FD7906;
}
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
	width: 965px;
	height: 398px;
	margin: 0px;
	padding: 0px;
	margin: 0px;
}

#slider {
	position: relative;
	width: 965px;
	height: 398px;
	margin: 0px;
}

#slider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#slider a {
	border: 0;
	display: block;
}

.nivo-controlNav {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.nivo-controlNav a {
	display: none;
	width: 22px;
	height: 22px;
	background: url(../images/bullets.png) no-repeat;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	float: left;
}

.nivo-controlNav a.active {
	background-position: 0 -22px;
}

.nivo-directionNav a {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/arrows.png) no-repeat;
	text-indent: -9999px;
	border: 0;
}

a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}

a.nivo-prevNav {
	left: 15px;
}

.nivo-caption {
	text-shadow: none;
	font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a {
	color: #efe9d1;
	text-decoration: underline;
}

.datagrid {
	font-size: 100%;
	margin: 0px auto;
	background: #ffffff;
	border: 1px solid #5C91D5;
	text-transform: uppercase;
}

.datagrid th,.datagrid td {
	border-right: 1px solid #fff;
	height: 20px;
	padding-left: 5px;
	color: #686868;
	background-color: #f7f7f7;
	vertical-align: middle
}

.datagrid th {
	background-color: #5C91D5;
	color: #fff;
}

.datagrid th a {
	color: #fff;
}

.datagrid .sort-col {
	padding-right: 40px
}

.datagrid .sortby {
	float: right;
	overflow: hidden
}

.datagrid .even td {
	background-color: #e6e6e6;
}

.datagrid .evenS td {
	background-color: #e6e6e6;
	color:red;
}


.datagrid .odd td {	
}

.datagrid .oddS td {
	color:red;
}
.form-left {
	font-weight: bold;
	width: 150px;
	margin: 0px auto;
	text-align: left;
	background: #eaeaea;
}

.page {
	margin: auto;
	width: 950px;
	height: auto;
}

.maincontent {
	background: #ffffff;
}

.first {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#eaeaea;
	border-bottom:1px solid #ffffff;
	width:200px;
}


.firstcontainer {
	background: url(../images/bodybg.png) repeat-x #dbf3ff;
	height: 269px;
}

.footer {
	color: #61bbde;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 10px;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}

.logindisplay {
	background: #b9dff2;
	border: 2px solid #37bffa;
	width: 396px;
	height: 100px;
	float: right;
}

.homebutton {
	background:url(../images/buttonbg.png) no-repeat;
	width:250px;
	height:100px;
	font-size: 19px;
	text-align:left;
}

.homebutton a {
	color: white;
	height:100px;
	display:block;
	font-weight:bold;
	line-height:100px;
	margin-left:10px;
}

.homebutton a:hover {
	color: lightgreen;
	font-weight:bold;
	text-decoration:none;
}
.loginliner {
	margin-left: 23px;
	margin-top: 33px;
}

.logindisplay a {
	color: #1d5472;
}

.buttonstyle1 {
	background: url(../images/buttonsbg.png) repeat-x;
	border: none;
	height: 20px;
	width: 82px;
	color: #FFFFFF;
	font: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 5px;
}

.buttonstyle2 {
	background: url(../images/buttonsbg.png) repeat-x;
	border: none;
	height: 20px;
	width: 100px;
	color: #FFFFFF;
	font: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding-bottom: 5px;
}

.buttonstyle3 {
	background: url(../images/buttonsbg.png) repeat-x;
	border: none;
	height: 20px;
	width: 90px;
	color: #FFFFFF;
	font: Arial, Helvetica, sans-serif;
	margin-top: 0px font-size : 10px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.messagebox {
	float: left;
	margin-top: 70px;
	margin-left: 55px;
	background: url(../images/message.png) no-repeat;
	width: 434px;
	height: 84px;
}

.inputbox {
	height: 20px;
	margin: 0px;
	padding: 0px 5px;
	color: #989895;
	font-size: 11px;
	border: 1px solid #cbcbca;
	line-height: 20px;
}

#form-table {
	font-size:110%;
	margin:0px auto;
	text-align:left;
	background:#ffffff;
	border:1px solid #5C91D5;
}

/* table Style */
#form-table tr.table-heading {
	background:#5C91D5;
	height:20px;
	padding:6px;
	color:#fff;
}

/* uppercase */
.flat {
}